body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4e69a;
}

.calculator {
    border: 1px solid #a30d0d;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.display {
    height: 50px;
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 2em;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}